[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doctr = "*"
kaybee-bulma = {editable = true, git = "git://github.com/pauleveritt/kaybee_bulma.git"}
kaybee = {editable = true, git = "git://github.com/pauleveritt/kaybee.git"}
livereload = "*"
travis-encrypt = "*"
jsx-lexer = "*"
Sphinx = "*"
packaging = "==17.1"

[dev-packages]

[requires]
python_version = "3.6"
