[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doctr = "*"
kaybee-bulma = "==0.2.31"
kaybee = "*"
livereload = "*"
travis-encrypt = "*"
jsx-lexer = "*"
Sphinx = "*"
packaging = "==17.1"

[dev-packages]

[requires]
python_version = "3.6"
